<form [formGroup]="registerForm">
    <label for="title">Título</label>
    <input type="text" id="title" formControlName="title"><br>
    <label for="author">Autor</label>
    <input type="text" id="author" formControlName="author"><br>
    <button (click)="registerBook(registerForm.value)">Enviar</button>
</form>