<button (click)="loadBooks()">Listar libros</button>
<div>
    <table>
        <tr>
            <th>Última pág vistada</th>
            <th>Título</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let bookManager of bookManagerList">
            <td>{{ bookManager.currentPage }}</td>
            <td>{{ bookManager.book.title }}</td>
            <td><button (click)="bookManager.nextPage()">+</button><button (click)="bookManager.lastPage()">-</button><button (click)="savePage(bookManager)">Guardar marca</button></td>
        </tr>
    </table>
</div>